﻿﻿################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MyHealth/FileContentIndex
*.v2
*.suo
*.dll
*.cache
*MyHealth.dll
*.pdb
*.nuget.cache
*.assets.json
*.assets.cache
*.cache
*.targets
*.AssemblyAttributes.cs
*.Assemblyinfo.cs
*.v5.2
*.editorconfig
*.g.cs
*.dgspec.json
*.g.props
/.vs/MyHealth/FileContentIndex
*.v2
*.suo
*.cache
*/slnx.sqlite-journal
*.nuget.cache
*.assets.json
*.targets
*.write.lock
*.slnx.sqlite
/.vs/ProjectEvaluation/myhealth.metadata.v5.2
/.gitignore
/MyHealth/obj/Debug/net6.0/MyHealth.assets.cache
/MyHealth/obj/Debug/net6.0/MyHealth.GeneratedMSBuildEditorConfig.editorconfig
/MyHealth_Business/obj/Debug/net6.0
/MyHealth_Business/obj
/MyHealth_Model/obj
*.vsidx
/.vs/Mhnwebdev/FileContentIndex/write.lock
/.vs/slnx.sqlite
*.suo
*.cache
*.nuget.cache
*.assets.json
*.targets
*.wsuo
*.sqlite
*.vsidx
/.vs/ProjectEvaluation/myhealth.metadata.v5.2
/.gitignore
/MyHealth/obj/Debug/net6.0/MyHealth.assets.cache
/MyHealth/obj/Debug/net6.0/MyHealth.GeneratedMSBuildEditorConfig.editorconfig
/MyHealth_Business/obj/Debug/net6.0
/MyHealth_Business/obj
/MyHealth_Model/obj
/MyHealth/obj/Release/net6.0/MyHealth.assets.cache
/MyHealth/obj/Release/net6.0/MyHealth.csproj.AssemblyReference.cache
/MyHealth/obj/Release/net6.0/MyHealth.GeneratedMSBuildEditorConfig.editorconfig
*.json
/.vs/Mhnwebdev/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/Mhnwebdev/FileContentIndex/0835d39f-dd6c-496b-a3e0-694de3dd79f9.vsidx
/.vs/Mhnwebdev/FileContentIndex/1611e183-ca44-443c-95a6-d8dead179bd6.vsidx
/.vs/Mhnwebdev/FileContentIndex/1e828210-5372-4324-99be-7f0db54436d0.vsidx
/.vs/Mhnwebdev/FileContentIndex/305a6778-635b-4394-9751-98f77941da1c.vsidx
/.vs/Mhnwebdev/FileContentIndex/7293195d-8d5c-4f1c-9057-0fbfb2c6b1d1.vsidx
/.vs/Mhnwebdev/FileContentIndex/write.lock
/MyHealth/obj/project.assets.json
/.vs/MyHealth/FileContentIndex/abae5782-7668-4053-8ab4-c8b3985ae481.vsidx
/MyHealth/obj/project.nuget.cache
/MyHealth/obj/MyHealth.csproj.nuget.dgspec.json
/.vs/MyHealth/FileContentIndex/e7af9428-7245-492d-b90a-321b9091d374.vsidx
/.vs/MyHealth/DesignTimeBuild/.dtbcache.v2
/.vs/MyHealth/v17/.futdcache.v2
/MyHealth/obj/Debug/net6.0/MyHealth.pdb
/MyHealth/obj/Debug/net6.0/staticwebassets.build.json
/MyHealth/obj/Debug/net6.0/MyHealth.dll
/MyHealth/obj/Debug/net6.0/refint/MyHealth.dll
/MyHealth/obj/Debug/net6.0/MyHealth.csproj.FileListAbsolute.txt
/MyHealth/obj/Debug/net6.0/MyHealth.csproj.CopyComplete
/.vs/MyHealth/v17/fileList.bin
